<mat-sidenav-container class="app-layout" (backdropClick)="sidenavOpened.set(false)">
  <mat-sidenav
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="sidenavOpened()"
    position="start"
    class="app-sidenav"
  >
    <div class="sidenav-brand">
      <img class="brand-img" src="/logo-fundo-dark.svg" alt="Corvus Metrics logo" />
      <span class="brand-name">
        CORVUS <span class="brand-accent">METRICS</span>
      </span>
    </div>

    <mat-nav-list class="sidenav-nav">
      @for (item of navItems; track item.path) {
        <a
          mat-list-item
          class="nav-item"
          [routerLink]="['/', item.path]"
          routerLinkActive="nav-item--active"
          (click)="closeSidenav()"
        >
          <mat-icon matListItemIcon fontSet="material-icons-outlined">{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <mat-toolbar class="app-toolbar">
      <button
        mat-icon-button
        class="toolbar-toggle"
        aria-label="Toggle navigation"
        (click)="toggleSidenav()"
      >
        <mat-icon fontSet="material-icons-outlined">menu</mat-icon>
      </button>

      <span class="toolbar-title">
        CORVUS <span class="brand-accent">METRICS</span>
      </span>

      <span class="toolbar-spacer"></span>

      <span class="toolbar-user">
        @if (user()?.name) {
          <span class="toolbar-user-name">{{ user()!.name }}</span>
        }
        <button mat-icon-button aria-label="User menu" matTooltip="Sign out" (click)="logout()">
          <mat-icon fontSet="material-icons-outlined">logout</mat-icon>
        </button>
      </span>
    </mat-toolbar>

    <main class="page-content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>